<footer class="footer text-white">
    <div class="container-fluid">
        <nav class="pull-left">
            <div _ngcontent-wdj-c9="" class=" text-center"><strong _ngcontent-wdj-c9=""> Universidad de las Fuerzas Armadas ESPE 2020, <br _ngcontent-wdj-c9="">Versión: 1.3.3 © </strong> Todos los derechos reservados. </div>
           Universidad de las Fuerzas Armadas - ESPE
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made with love by
            Unidad de Tecnologías de Información y Comunicaciones.
        </div>
    </div>
</footer>
